[submodule "ns_dashboard_demo"]
	path = ns_dashboard_demo
	url = https://github.com/shukriibrahimisqa/ns_dashboard_demo
	branch = main
[submodule "ns_widgets_demo"]
	path = ns_widgets_demo
	url = https://github.com/shukriibrahimisqa/ns_widgets_demo
